body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fFFFFF;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #003366;
    padding: 3px;
    border-radius: 8px;
    font-size: small;
}

nav h3 {
    color: #ffffff;
    padding-left: 15px;
    text-underline-offset: 10px;
    text-decoration: underline;
}

header {
    border-radius: 12px;
}

nav li {
    display:inline-block;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    margin: 20px;
    background-color: #626161;
    border-radius: 10px;
}

nav a {
    color: #fFFFFF;
}

.nav_link-item:hover {
    text-underline-offset: 10px;
    text-decoration: underline;
    background-color: #59e;
    border-radius: 6px;
    padding: 5px;
}

.nav_link_incolor {
    color: #7E1AAE;
    background-color: #fff;
    border-radius: 6px;
    padding: 6px;
}

.nav_link_incolor:hover {
    background-color: #17CFCB;
    text-decoration: underline;
    text-underline-offset: 4px;
}

h1 {
    font-size: larger;
    background-color: #59e;
    padding: 30px;
    border-radius: 12px;
    color: #fFFFFF;
    text-decoration: underline;
    text-underline-offset: 10px;
}

p {
    text-align: justify;
    padding: 5px;
    margin: 30px;
}

.my-photo {
    border-radius:20px;
    border: 1px solid black;
    outline: 1px solid #59e;
    transition: outline 0.2s, outline-offset 0.2s;
}

.my-photo:hover {
    outline: 5px solid rgb(120, 181, 255);
}

.contact {
    font-size: 20px;
    padding: 10px;
}

.contact:hover {
    outline: 1px solid #59e;
    transition: outline 0.2s, outline-offset 0.2s;
    border-radius: 10px;
}

.xperience {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    background-color: #7f7d7d;
    padding: 15px;
    border-radius: 10px;
    color: #fFFFFF;
    text-decoration: underline;
    text-underline-offset: 10px;
}

dl {
    text-align: justify;
    justify-content: center;
}

h3 + li {
    text-align: left;
}

img {
    object-fit: contain;
    flex-shrink: 0;
    margin-top: 5px;
    border-radius: 10px;
    border: solid 1px #003366;
}

td, th{
    border: 2px solid #333;
    text-align: center;
    padding: 6px;
    padding-bottom: 9px;
    border: none;
    font-family: sans-serif;
    border-bottom: 1px solid #009;
}

td {
    color: #444a;
}

.nav_link-xperience:hover {
    color: #59e;
    text-decoration: underline;
    text-underline-offset: 5px;
}

table {
    width: 100%;
    min-width: 200px; /* ancho mínimo si necesitas columnas amplias */
    border-collapse: separate;
    border: 2px solid #007bff;
    border-radius: 12px;
}

a{
    text-decoration: none;
    color: #910707;
}

img {
    padding: 6px;
}

h2 {
    text-align: center;
    padding: 15px;
    background-color: #4A4A4A;
    color: #fFFFFF;
    text-decoration: underline;
    text-underline-offset: 10px;
}

br {
    background-color: #4A4A4A;
}

hr {
    background-color: #003366;
    padding: 1px;
}

.listar {
    padding: 10px;
    margin: 20px;
    text-align: left;
}

.link-form {
    text-decoration: underline;
    text-underline-offset: 10px;
    background-color: #59e;
    padding: 10px;
    border-radius: 10px;
}

.link-form:hover {
    color: #ffffff;
}

.calculadora-basica {
    color: #0000FF;
    text-decoration: underline;
    text-underline-offset: 10px;
    padding: 10px;

}

.calculadora-basica:hover {
    outline: 1px solid #59e;
    transition: outline 0.2s, outline-offset 0.2s;
}

aside{
    margin: 20px;
    padding: 20px;
}

footer {
    background-color: #003366;
    padding: 40px;
    margin: 20px;
    border-radius: 7px;
    color: #fFFFFF;
}